
.container {
  display: flex;
}

HeadlinerHome,
TopStoriesHome {
  flex: 1;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
  }
  section {
    font-size: 14px;
  }
  #top-story-imgs {
    width: 100%;
   height: auto;
  }
}