h2 {
 
  text-align: center;
   font-family: 'Cheltenham', serif;
}

h3 {
  text-align: center;
   font-family: 'Cheltenham', serif;
}

body {
  background-color: #0E3B43;
}


HeadlinerHome,
TopStoriesHome {
  flex: 1;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
  }
  section {
    font-size: 14px;
  }
  #top-story-imgs {
    width: 100%;
   height: auto;
  }
  #top-stories {
  display: flex;
  flex-direction: column;
  width: 40%
}
}
section {
  padding: 10px;
  background-color: #F5E7E0;
}

*{
  font-family: Georgia, serif;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('path/to/cheltenham.woff2') format('woff2'),
       url('path/to/cheltenham.woff') format('woff');
}
