#headliner {
  list-style: none;
  padding: 0;
  margin: 0;
 display: flex;
 cursor: pointer;
 background-color: #EDD3C4;
    padding:10px
}

#headliner-title:hover{
   color: #7D4F50;
}

#headliner-img {
  width: 55%;
  height: 300px;
}

#headliner-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
 
}

#hedliner-topic {
  font-size: 18px;
  color: #5C9EAD;
  margin: 5px 0;
}

#headliner-author {
  font-size: 16px;
  margin: 5px 0;
  color:#0E3B43
}


